.cart{
    width: 2rem;
}

/* .margenDerecho {
    display: flex;

    ul {
        margin: 0;
        padding: 50px; 
        list-style: none;
        display: flex;
        gap: 15%;
        align-items: center;
        justify-content: space-around;
    }
} */