.cart{
    width: 3em;
    position: relative;
    z-index: 1;  
}

#cartCounter{
    color:red;
    position: absolute;
    z-index: 2;      
    
    /* FUNCIONA, PERO ES UN AJUSTE QUE SE HACE MANUALMENTE, ME GUSTARIA QUE SEA AUTOMATICO/RESPONSIVE */
    left: 95.25%;
    top: 24.5%;
    
}

.margenDerecho {    
    height: 4em;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.margenDerecho ul {
    list-style: none;
    margin: auto;
}