.styleInput{
    font-size: 1.1em;
}

.infoConsumer{
    margin: 2em auto;
    width: 38%;
    display: flexbox;
    text-align: start;
}

.infoConsumer div{
    margin: 0.75em auto;
}

#confirmBuy{
    font-size: 1.3em;
    border-radius: 1rem;
    font-weight: bold;
    background-color: #645993;
    border: none;    
    width: 25em;
    height: 2.5em;
    border-radius: 1rem;
    color: black;        
    cursor: pointer; 
}

#confirmBuy:hover:not(:disabled) {
    background: rgb(25, 204, 25);
    color: whitesmoke;
    box-shadow: 0 0 40px rgb(231, 196, 93);
    transition: all 0.2s ease;
}