.navBar_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    align-items: center;    
    width: 85%;
    height: 3em;
    background-color:#ecd3bf;  
    opacity: 98%;
    /* padding: 0 4em 0 4em; */
    /* margin:  0 6em 0 0; */
}

a{
    color: black;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

a:hover {
    background-color: #C98A3B !important;
    border-radius: 0.5em;
    font-weight: bold;
    transition: 0.2s;
    color: white !important;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 15em;
    
    li{
        a{
            color:black;
        }

        
    }

}

li{
    margin-left: 10px;
    margin-right: 10px;
}

/* .margenDerecho {
    display: flex;

    ul {
        margin: 0;
        padding: 50px; 
        list-style: none;
        display: flex;
        gap: 15%;
        align-items: center;
        justify-content: space-around;
    }
} */