.order{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 20%;
    height: 2.5em;    
}

.butt{
    width: 2.5em;
    height: 2.5em;
}

.addCart{
    width: 20em;
    height: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}
